body {
  zoom: 175%;
}
.color {
  float: right;
}
.darkMode {
  background-color: black;
  color: white;
}

.done {
  text-decoration: line-through;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  zoom: 60%;
}
