body {
  zoom: 300%;
  h1 {
    font-family: "Gideon Roman", cursive;
  }
  font-family: "Open Sans", sans-serif;
}
.color {
  float: right;
}
.darkMode {
  background-color: rgb(5, 22, 21);
  color: rgb(238, 129, 4);
}

.done {
  text-decoration: line-through;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  zoom: 60%;
}
.buttonXStyle {
  background-color: transparent;
  /* border: none; */
  border-radius: 7px;
}

//ALL OF THE STUFF BELOW IS FOR A FADE ANIMATION
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page {
  animation-name: fade;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
