body {
  zoom: 300%;
  h1 {
    font-family: "Gideon Roman", cursive;
  }
  font-family: "Open Sans", sans-serif;
}
.color {
  float: right;
}
.darkMode {
  background-color: rgb(5, 22, 21);
  color: rgb(238, 129, 4);
}

.done {
  text-decoration: line-through;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  zoom: 60%;
}
.buttonXStyle {
  background-color: transparent;
  /* border: none; */
  border-radius: 7px;
}
